<mat-tab-group 
    class="common-layout-tabs" 
    headerPosition="below"
    [loadingOverlay]="(isGroupLoading$ | ngrxPush) ?? true"
>

    <mat-tab label="Shotgun">
        <app-shotgun-picker></app-shotgun-picker>
    </mat-tab>

    <mat-tab label="Group">
        <app-group-container></app-group-container>
    </mat-tab>

    <mat-tab label="Leaderboard">
        <div style="height: 100%" fxLayout="column" fxLayoutAlign="center center">
            comming soon...
        </div>
    </mat-tab>

</mat-tab-group>