<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap=".5rem" style="padding: 2rem 1rem">
    <div style="font-size: large">Group:</div>
    <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="1rem">
        <div style="font-size: large; font-weight: 600">{{ groupName$ | ngrxPush }}</div>
        <button mat-icon-button (click)="onEditGroupNameClick()">
            <mat-icon fontIcon="edit"></mat-icon>
        </button>
    </div>
</div>

<div class="mat-elevation-z8">
    <app-group-table></app-group-table>
</div>
