<div cdkDropListGroup class="drag-container">
    <div
        class="drag-list-horizontal"
        cdkDropList
        cdkDropListOrientation="horizontal"
        cdkDragBoundary=".drag-container"
        [cdkDropListData]="allPeople$ | async"
        cdkDropListSortingDisabled
    >
        <div 
            class="drag-box-horizontal" 
            *ngFor="let person of allPeople$ | async"
            cdkDrag 
            cdkDragBoundary=".drag-container"
        >
            <div *cdkDragPlaceholder></div>
            {{person.name}}
        </div>
    </div>
  
    <div style="margin-top: 4rem">
        <h2>Car</h2>
  
        <div fxLayout="column" fxLayoutGap="2rem" style="max-width: 400px">
            <div fxLayout="row" fxLayoutAlign="space-evenly">
                <app-car-seat-drop
                    [selected]="driverPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.DRIVER, $event)"
                    [disabled]="(driverSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.DRIVER, $event)"
                    placeholder="Drop Driver Here"
                ></app-car-seat-drop>
                <app-car-seat-drop
                    [selected]="shotgunPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.SHOTGUN, $event)"
                    [disabled]="(shotgunSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.SHOTGUN, $event)"
                    placeholder="Shotgun"
                ></app-car-seat-drop>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly">
                <app-car-seat-drop
                    [selected]="leftNutPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.LEFT_NUT, $event)"
                    [disabled]="(leftNutSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.LEFT_NUT, $event)"
                    placeholder="Left Nut"
                ></app-car-seat-drop>
                <app-car-seat-drop
                    [selected]="middlePerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.MIDDLE, $event)"
                    [disabled]="(middleSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.MIDDLE, $event)"
                    placeholder="Middle"
                ></app-car-seat-drop>
                <app-car-seat-drop
                    [selected]="rightNutPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.RIGHT_NUT, $event)"
                    [disabled]="(rightNutSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.RIGHT_NUT, $event)"
                    placeholder="Right Nut"
                ></app-car-seat-drop>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly">
                <app-car-seat-drop
                    [selected]="leftBackPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.LEFT_BACK, $event)"
                    [disabled]="(leftBackSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.LEFT_BACK, $event)"
                    placeholder="Left Back"
                ></app-car-seat-drop>
                <app-car-seat-drop
                    [selected]="rightBackPerson$ | ngrxPush"
                    (selectedChange)="onSeatChange(Seat.RIGHT_BACK, $event)"
                    [disabled]="(rightBackSeat$ | ngrxPush)?.isDisabled ?? false"
                    (disabledChange)="onSeatDisableChange(Seat.RIGHT_BACK, $event)"
                    placeholder="Right Back"
                ></app-car-seat-drop>
            </div>
        </div>
    </div>
</div>
