<div class="main-save-dialog-container">
    <mat-dialog-content>
        <div class="app-modal bg-primary-lighter-grey">
            <p>
                Enter a unique name for this person
            </p>

            <mat-form-field>
                <input matInput placeholder="Group Name" [formControl]="formControl">
                <mat-error *ngIf="formControl.hasError('uniqueName')">This name is taken</mat-error>
                <mat-error *ngIf="formControl.hasError('required')">Name cannot be empty</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-stroked-button
            mat-dialog-close
            class="font-bold font-sm button-radius-padding form-button-margin-right"
            (click)="onCancelClick()"
        >
            Cancel
        </button>

        <button
            mat-raised-button
            color="primary"
            class="font-bold font-sm bg-primary-darker-grey white button-radius-padding"
            (click)="onSaveClick()"
        >
            Save
        </button>
    </mat-dialog-actions>
</div>
