<mat-table [dataSource]="allPeople$">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="isInCar">
        <mat-header-cell *matHeaderCellDef>In Car</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox 
                (click)="$event.stopPropagation()"
                (change)="onToggleRow(element)"
                [checked]="element.isInCar">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onEditPerson(element)">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDeletePerson(element)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="addNew">
        <mat-footer-cell *matFooterCellDef>
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="1rem">
                <mat-icon fontIcon="add_circle"></mat-icon>
                <span>Add New Person</span>
            </div>
        </mat-footer-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row matRipple *matFooterRowDef="['addNew']" (click)="onAddNewPerson()"></mat-footer-row>
</mat-table>
