
:host {
    box-sizing: border-box;
    display: block;
    height: 100px;
    width: 100px;
}

.car-list {
    border: solid 1px #ccc;
    height: 100%;
    width: 100%;
}

.filled-seat {
    height: 100%;
    width: 100%;
}

.drag-hovered-seat {
    height: 100%;
    width: 100%;
    background: grey;
}