<div
    class="car-list"
    cdkDropList
    cdkDragBoundary=".drag-container"
    [cdkDropListData]="selected !== undefined ? [selected] : []"
    (cdkDropListDropped)="onDrop($event)"
    (cdkDropListEntered)="onDragEntered()"
    (cdkDropListExited)="onDragExited()"
>
    <div 
        *ngIf="disabled"
        class="seat-disabled"
    >
        <icon-button 
            class="icon-button"
            icon="visibility_off"
            (onClick)="onToggleDisabled()"
        ></icon-button>
    </div>
    <div 
        *ngIf="selected === undefined && !disabled"
        class="seat-empty"
    >
        <icon-button 
            class="icon-button"
            icon="visibility"
            (onClick)="onToggleDisabled()"
        ></icon-button>
        <div class="seat-text">
            {{placeholder}}
        </div>
    </div>
    <div 
        *ngIf="selected !== undefined"
        class="seat-filled" 
        cdkDrag 
        cdkDragBoundary=".drag-container"
    >
        <div *cdkDragPlaceholder></div>
        <div class="seat-text">
            {{selected.name}}
        </div>
    </div>
</div>