<div
    class="car-list"
    cdkDropList
    cdkDragBoundary=".drag-container"
    [cdkDropListData]="selected !== undefined ? [selected] : []"
    (cdkDropListDropped)="onDrop($event)"
    (cdkDropListEntered)="onDragEntered()"
    (cdkDropListExited)="onDragExited()"
>
    <div 
        *ngIf="selected === undefined"
        class="seat-empty"
    >
        <div class="seat-text">
            Drag a person here
        </div>
    </div>
    <div 
        *ngIf="selected !== undefined"
        class="seat-filled" 
        cdkDrag 
        cdkDragBoundary=".drag-container"
    >
        <div *cdkDragPlaceholder></div>
        <div class="seat-text">
            {{selected.name}}
        </div>
    </div>
</div>